### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system

SQL :- 
1) RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)   vs   Non-relational or distributed database system
2) These databases have fixed or static or predefined schema    vs    They have dynamic schema
3) These databases are not suited for hierarchical data storage    vs   These databases are best suited for hierarchical data storage.
4) These databases are best suited for complex queries    vs    These databases are not so good for complex queries
5) Follows ACID property    vs    Follows CAP(consistency, availability, partition tolerance)

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects. These database objects include schemas, tables, views, sequences, catalogs, indexes, and aliases.

 CREATE : - The CREATE statement is used to create a new database object. 

 DROP :- The DROP statement is used to delete an existing database object. 

 ALTER :- The ALTER statement is used to modify the structure of an existing database object.

 TRUNCATE :-The TRUNCATE statement is used to delete all data from a table but keep the table structure

CREATE TABLE customers (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  email VARCHAR(100)
);

DROP TABLE customers;

ALTER TABLE customers
ADD phone VARCHAR(20);

TRUNCATE TABLE customers;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language in SQL. It is a subset of SQL statements used to manipulate data within a database. DML statements are used to insert, update, and delete data from database tables.

In [2]:
#INSERT :- The INSERT statement is used to add new rows of data into a database table.

INSERT INTO customers (id, name, email, phone)
VALUES (1, 'John Doe', 'johndoe@example.com', '555-555-1212');

#UPDATE :- The UPDATE statement is used to modify existing data within a database table.

UPDATE customers
SET email = 'john.doe@example.com'
WHERE id = 1;

#DELETE :- The DELETE statement is used to remove one or more rows of data from a database table. 

DELETE FROM customers
WHERE id = 1;

SyntaxError: invalid syntax (4203561623.py, line 3)

### Q4. What is DQL? Explain SELECT with an example.

#DQL stands for Data Query Language in SQL. It is a subset of SQL statements used to retrieve data from a database. DQL statements are used to query data from one or more database tables.

SELECT *
FROM customers;

#This statement selects all columns and all rows from the "customers" table and returns the result set.

### Q5. Explain Primary Key and Foreign Key.

Primary Key:
A primary key is a unique identifier for a row in a database table. It must be a unique value, which means that no two rows can have the same primary key value. Typically, a primary key is a single column, but it can also be a combination of columns that together form a unique value. The primary key is used to ensure the integrity of the data, as it provides a way to uniquely identify each row in a table.

Foreign Key:
A foreign key is a column or set of columns in one table that refers to the primary key of another table. This creates a relationship between the two tables, allowing the database to link related data across tables.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
pip install mysql-connector-python

import mysql.connector
mydb=mysql.connector.connect(
                             host="localhost",
                             user="localuser",
                             password="password")
print(mydb)

### Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query can be summarized as follows:

FROM: Specifies the table(s) from which to retrieve data. 

JOIN: Combines data from multiple tables based on a specified condition.

WHERE: Filters data based on a specified condition.

GROUP BY: Groups data based on one or more columns.

HAVING: Filters grouped data based on a specified condition.

SELECT: Specifies the columns to retrieve data from.

DISTINCT: Filters out duplicate values from the result set.

ORDER BY: Sorts the result set based on one or more columns.

LIMIT: Limits the number of rows returned in the result set.

It's important to note that not all SQL queries will use all of these clauses, and they may be used in a different order depending on the specific requirements of the query. However, this order provides a general guideline for the sequence in which SQL clauses are typically executed in a query.