### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [7]:
import pandas as pd
lst=[4,8,15,16,23,42]
pd.Series(lst)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [12]:
lst1=[i for i in range(0,11)]
print(lst1)
pd.Series(lst1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

In [15]:
data={"Name":["Alice","Bob","Claire"],
      "Age":[25,30,27],
       "Gender":["Female","Male","Female"]}
pd.DataFrame(data)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q3. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.


In pandas, a DataFrame is a two-dimensional data structure that represents data in a tabular format, similar to a spreadsheet or a SQL table. It consists of rows and columns, where each column can have a different data type. DataFrames are the primary data structure used in pandas for data manipulation and analysis.

On the other hand, a Series is a one-dimensional data structure in pandas that represents a single column or a single row of data in a DataFrame. It can be thought of as a labeled array or a column in a spreadsheet. Unlike DataFrames, Series have a fixed data type and are homogeneous, meaning all the elements in a Series must have the same data type.

In [28]:
#Exapmle for datafarme
data={"Name":["Alice","Bob","Claire"],
      "Age":[25,30,27],
       "Gender":["Female","Male","Female"]}
df=pd.DataFrame(data)

In [21]:
#Example for series:
data_series=data["Name"]
data_series

['Alice', 'Bob', 'Claire']

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Below are the few common functions used in pandas:

1) head() and tail(): These functions allow you to view the first or last few rows of a DataFrame, respectively. They are useful for quickly inspecting the data.
2) info(): This function provides a summary of the DataFrame, including the column names, data types, and the number of non-null values. It's useful for getting a quick overview of the data.
3) describe(): This function generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, and maximum values. It's helpful for understanding the distribution of the data.
4) sort_values(): This function allows you to sort the DataFrame by one or more columns. You can specify the column(s) to sort by and choose the sorting order (ascending or descending).
5) groupby(): This function is used to group the data based on one or more columns and perform operations on each group. It's useful for aggregating data and computing summary statistics.
6) dropna(): This function is used to remove rows or columns with missing values (NaN) from the DataFrame. It's helpful for cleaning the data before analysis.

In [29]:
#We can use below function for getting quick reference of the data
data={"Name":["Alice","Bob","Claire"],
      "Age":[25,30,27],
       "Gender":["Female","Male","Female"]}
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series: A Series object is mutable, meaning you can modify its elements or assign new values to them. You can change the values within a Series using indexing or other methods provided by pandas.

DataFrame: Similar to Series, a DataFrame is also mutable. You can modify individual cell values, add or remove columns, or update rows using various methods and operations available in pandas.

Panel: Panels were a three-dimensional data structure in pandas that used to hold data in the past.Panels are not mutable because they are no longer actively used in the latest versions of pandas.

### Q7. Create a DataFrame using multiple Series. Explain with an example.