## Q1. What is data encoding? How is it useful in data science?

Data encoding refers to the process of converting data from one form to another, typically to facilitate storage, processing, or transmission. In the context of data science, encoding is crucial for several reasons:

Standardization: Data encoding helps ensure that information is represented in a consistent and compatible format, making it easier to work with across different systems and platforms.

Compression: Encoding techniques like Huffman coding or Run-Length Encoding can be used to reduce the storage space required for data, which is essential for efficient storage and transmission, particularly in large datasets.

Security: Encoding can be used as a preliminary step in data encryption to protect sensitive information from unauthorized access.

Preprocessing: Encoding categorical variables is a fundamental step in preparing data for machine learning algorithms. It converts non-numeric attributes (like colors or categories) into a numerical format that algorithms can understand and process.

Reducing Dimensionality: Techniques like Principal Component Analysis (PCA) use encoding methods to transform high-dimensional data into a lower-dimensional space while preserving as much information as possible.

## Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

Nominal encoding, also known as one-hot encoding, is a technique used to convert categorical data into a numerical format that can be used by machine learning algorithms. In nominal encoding, each category is represented as a binary vector (0 or 1) where only one bit is "hot" (set to 1) to indicate the presence of a particular category.

Example :- WE have a dataset of students of a school divided into 4 Categories.

In [15]:
school={"House":["Godric Gryffindor","Rowena Ravenclaw","Helga Hufflepuff" ,"Salazar Slytherin"]}
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
df=pd.DataFrame(school)
encoder= OneHotEncoder()
encoded_df=pd.DataFrame(encoder.fit_transform(df[['House']]).toarray(),columns=encoder.get_feature_names_out())
encoded_df

,House_Godric Gryffindor,House_Helga Hufflepuff,House_Rowena Ravenclaw,House_Salazar Slytherin
0,1.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,1.0

               House
0  Godric Gryffindor
1   Rowena Ravenclaw
2   Helga Hufflepuff
3  Salazar Slytherin

## Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

Nominal encoding and one-hot encoding are actually two terms for the same technique. They are used interchangeably to refer to the process of converting categorical data into a numerical format, where each category is represented as a binary vector.

One-hot encoding is preferred in situations where categorical variables do not have a meaningful numerical relationship and there is no inherent order or ranking among the categories. This is typically the case with variables like color, type of product, or country.

## Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.

if the categorical variable has 5 unique values, one suitable encoding technique is one-hot encoding.Since the number of variables are not large.

One-hot encoding would be chosen for the following reasons:

Preservation of Information: One-hot encoding retains all the information about the categories. Each category gets its own binary column, and the presence or absence of a category is explicitly represented. This is important when there is no ordinal relationship between the categories.

Prevents Misinterpretation: Other encoding methods might imply an ordinal relationship between the categories which may not actually exist. One-hot encoding ensures that the model doesn't mistakenly assume an order among the categories.

Applicability to Machine Learning Algorithms: Many machine learning algorithms, like linear models and tree-based models, require numerical inputs. One-hot encoding provides a numerical representation that can be directly used by these algorithms.

## Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

In One hot Encoding,each with k unique categories, you will create k new binary columns for each categorical variable.
Hence if we assume the two categorical columns have 3,3 unique categories, hence in total new columns added will be

3 + 3 = 6 columns

## Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

for this dataset one-hot encoding would be the preferred technique for transforming categorical data into a format suitable for machine learning algorithms. This is because the variables "Species," "Habitat," and "Diet" are all nominal in nature, meaning there's no inherent order or ranking among the categories. One-hot encoding ensures that the categorical nature of the data is preserved and can be effectively used in machine learning models.

## Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

Since the Data Contains both Numeric as well as Categorical data, we dont require any encoding for numerical data.
for Categorical data we would do encoding as,

Gender: Binary encoding (e.g., 0 for "Male", 1 for "Female").
Contract Type: Nominal encoding (one-hot encoding) with three binary columns ("Month-to-Month", "One Year", "Two Year").

Lets assume Contract type has 5 categories and gender has 2 categories, then we will have 7 addition columns for the dataset.