## Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose you have collected data on the amount of time students spend studying for an exam and their final exam`scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [11]:
import numpy as np
import pandas as pd
hours=[4,6,8,4,7,9,8,10,6,8]
Scores=[65,74,85,72,82,88,94,80,96,82]
df=pd.DataFrame(Scores,hours)
df.cov()

           0
0  93.511111

## Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables. Suppose you have collected data on the amount of sleep individuals get each night and their overall job satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two variables and interpret the result.

In [25]:
data={"sleep_hours":[6,5.5,7.5,7,8,5.5,8,7,6,8],
"job_sats":[7,5,8,6,9,5,6,8,0,7]}
df1=pd.DataFrame(data)
df1.corr(method="spearman")

             sleep_hours  job_sats
sleep_hours     1.000000  0.642662
job_sats        0.642662  1.000000

## Q3. Suppose you are conducting a study to examine the relationship between the number of hours of exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation between these two variables and compare the results.

In [54]:
import random
import pandas as  pd
random.seed(0)
data={"exercise_mins" : [random.randint(45,120) for _ in range (50)],
"BMI": [random.randint(17,25) for _ in range(50)]}
df=pd.DataFrame(data)
df
Pearson=df.corr()
Spearman=df.corr(method="spearman")

In [55]:
Pearson

               exercise_mins       BMI
exercise_mins       1.000000 -0.111754
BMI                -0.111754  1.000000

In [ ]:
Spearman

               exercise_mins       BMI
exercise_mins       1.000000 -0.124151
BMI                -0.124151  1.000000

In [ ]:
# Conclusion:- The Above Analaysis Indicates that The Higher the Number of mins of exercise, the Lower is the BMI

## Q4. A researcher is interested in examining the relationship between the number of hours individuals spend watching television per day and their level of physical activity. The researcher collected data on both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between these two variables.

In [50]:
import random
import pandas as  pd
random.seed(0)
data={"tele_hours" : [random.randint(45,120) for _ in range (50)],
"Physical_activity": [random.randint(17,25) for _ in range(50)]}
df=pd.DataFrame(data)
df
Pearson=df.corr()
Spearman=df.corr(method="spearman")

In [51]:
Pearson

                   tele_hours  Physical_activity
tele_hours           1.000000          -0.111754
Physical_activity   -0.111754           1.000000

## Q5. A survey was conducted to examine the relationship between age and preference for a particular brand of soft drink. The survey results are shown below:

Qustion not completed.

## Q6. A companmy is interested in examining the relationship between the number of sales calls made per day and the number of sales made per week. The company collected data on both variables from a sample of 30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [58]:
import random
import pandas as  pd
random.seed(0)
data={"Sales_calls_per_day" : [random.randint(45,80) for _ in range (30)],
"Sales_per_week": [random.randint(25,40) for _ in range(30)]}
df=pd.DataFrame(data)
df
Pearson=df.corr()

In [59]:
Pearson

                     Sales_calls_per_day  Sales_per_week
Sales_calls_per_day             1.000000        0.159766
Sales_per_week                  0.159766        1.000000